<button mat-raised-button (click)="checkAuth()" style="margin-left: 40px; margin-right:10px; margin-bottom: 20px; display: block ">Auth Check</button>


<h1 id="exercisesHeader">Exercises</h1>
<button mat-raised-button id="addExerciseButton" (click)="addExercise()">Add Exercise</button>
<div id="container">
  <mat-select placeholder="Select target" id="targetSelect" #select (valueChange)="onSearchInput(select.value, input.value)">
    <mat-option value="all">All</mat-option>
    <mat-option *ngFor="let target of targets" [value]="target" >{{target}}</mat-option>
  </mat-select>
  <mat-form-field id="searchInputField">
    <input type="text" #input matInput placeholder="Search in exercises..."  (input)="onSearchInput(select.value, input.value)" >
  </mat-form-field>
  <mat-accordion *ngFor="let ex of exercises" >
  <mat-expansion-panel class="exAccordion">
    <mat-expansion-panel-header >
      {{ex.name}}
    </mat-expansion-panel-header >

  <mat-form-field class="blockInput nameInput">
    <input matInput  value="{{ex.name}}" (input)="registerNewName($event.target.value, ex.id)">
  </mat-form-field>
    <mat-form-field class="blockInput targetInput">
      <mat-select [value]="ex.target" (valueChange)="registerNewTarget($event, ex.id)">
        <mat-option *ngFor="let target of targets" [value]="target">{{target}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="blockInput" (input)="registerNewDescription($event.target.value, ex.id)">
      <textarea matInput value="{{ex.description}}" rows="4"></textarea>
    </mat-form-field>
    <mat-action-row class="exAccordion">
      <button mat-raised-button class="accordionButton" (click)="deleteEx(ex.id)">Delete</button>
      <button mat-raised-button style="margin-left: 10px" class="accordionButton" (click)="saveEx(ex.id)">Save</button>
    </mat-action-row >

  </mat-expansion-panel>
  </mat-accordion>
</div>
